* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    background: linear-gradient(#6487e6, #a0a5d6);
}

header {
    text-align: center;
    height: 10vh;
    color: #fff;
}

form {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    box-sizing: border-box;
    color: #fff;
}

.form-field {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.form-field input {
    flex: 1 0 30px;
}

.form-field textarea{
    flex: 1 0 80px;
}

.form-field input, .form-field textarea {
    width: 80%;
    margin: 0.4em;
    border-radius: 5px;
}

button {
    margin-top: 0.5em;
    height: 30px;
    width: 100px;
}

.card-container {
    flex: 1 0 auto;
    align-self: center;
    background-color: rgba(255, 255, 255, 0.226);
}

.card-container .card-list {
    list-style: none;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container .card-list .card-item {
    font-size: 1em;
    margin: 0.5em;
    color: #fff;
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.534);
}

@media (min-width: 768px) { 
    .container {
        display: flex;
    }
    .card-container {
        margin: 2em;
    }
 }

@media (max-width: 768px) { 
    .container {
        display: flex;
        flex-direction: column;
    }
    .card-container {
        width: 100%;
        margin: 0.5em;
    }
 }
    